.blogs-container{
    width: 96%;
    min-width: 1140px;
    margin: 0 auto;
}
.card{
    color: #333;
}
.search-container{
    margin: 30px;
}
.search-input{
    padding: 1em 1em;
    width: 96%;
    font-style: 18px;
}
.search-input:focus{
    outline: none;
}